<div class = "body">
        <div class="tieude">
            <img src="assets\images\banner.png">
        </div>
        <div class="row menu">
            <div class="col-xs-8 col-md-5">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['']">Exam Online</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2 col-md-2">
    
            </div>
            <div class="col-xs-2 col-md-1 ml-auto">
                <div class="dropdown dropleft myDropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/dangki']">Đăng kí</a>
                        <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
                        <a class="dropdown-item" [routerLink]="['/doimatkhau']">Quên mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="contrainer">
        <h3>Chào mừng bạn đến với Exam Online</h3>
        <div class="card-deck">
            <div class="card myCard">
                <i class='fas fa-hands-helping'></i>
                <hr/>
              <div class="card-body myCardBody">
                    <hr/>
                    <h5 class="card-title">Liên kết với các trường đại học và cao đẳng.</h5>
              </div>
            </div>
            <div class="card myCard">
                <i class='fas fa-cogs'></i>
                <hr/>
              <div class="card-body myCardBody">
                    <hr/>
                    <h5 class="card-title">Hơn 10000 bài thi và kiểm tra.</h5>
              </div>
            </div>
            <div class="card myCard">
                <i class='fas fa-id-badge'></i>
                <hr/>
              <div class="card-body myCardBody">
                    <hr/>
                    <h5 class="card-title">Gần 100000 thành viên</h5>
              </div>
            </div>
            <div class="card myCard">
                <i class='far fa-question-circle'></i>
                <hr/>
                <div class="card-body myCardBody">
                        <hr/>
                  <h5 class="card-title">Đạt mốc 50000 lượt truy cập</h5>
                </div>
              </div>
          </div>
          <h4>---Về Exam Online---</h4>
          <h5>một website thi trực tuyến nhằm giúp học sinh, sinh viên có thể hoàn thành bài thi một cách dễ dàng ở mọi nơi.</h5>
    </div>
    <div class="gioithieu">
            <h4>---Lợi ích của Exam Online---</h4>
            <h5>Thi trực tuyến mọi lúc, mọi nơi, dễ dàng thao tác, tương thích trên nhiều thiết bị khác nhau.</h5>
    </div>
</div>
