.body {
  background-image: url(/assets/);
}
.tieude img {
  width: 100%;
  height: 12em;
  margin:  0 0 1em 0;
}
.menu {
  background-color:bisque;
  height: 2.6em;
  width: 100%;
  margin: 0;
}
.myDropdown button {
  color: blue;
  background-color:white;
  border: none;
}
  .myCard {
    float: left;
    width: 23%;
    margin: 1em 1% 0 1%;
    height: 21.5em;
  }
  .myCard img {
    height: 12em;
  }
  .chantrang {
    margin: 46em 1% 0 0;
  }
  .container {
    width: 50%;
    margin: 1em 0 0 25%;
  }
  